@model IEnumerable<Common.Dto.IServiceRequestDto>
@{
	ViewBag.Title = "Service Requests";
	Layout = "~/Views/Shared/_Layout.cshtml";

	ViewBag.Links = new List<KeyValuePair<string, string>>
	{
		new KeyValuePair<string, string>("Home", "Home"),
		new KeyValuePair<string, string>("Service Requests", "#")
	};
}

<table>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.State</td>
        </tr>
    }

</table>