
@{
	ViewBag.Title = "Service Requests";
	Layout = "~/Views/Shared/_Layout.cshtml";

	ViewBag.Links = new List<KeyValuePair<string, string>>
	{
		new KeyValuePair<string, string>("Home", "Home"),
		new KeyValuePair<string, string>("Service Requests", "#")
	};
}

<h2>You have no pending service requests</h2>

