@using Prometheus.WebUI.Helpers
@using Prometheus.WebUI.Infrastructure
@model Prometheus.WebUI.Models.ServiceRequestMaintenance.AddUserInputModel
@{
	ViewBag.Title = "AddUserInput";
	Layout = "~/Views/Shared/_SidebarLayout.cshtml";

	ViewBag.Links = new List<KeyValuePair<string, string>>
	{
		new KeyValuePair<string, string>("Home", "Home"),
		new KeyValuePair<string, string>("Service Request Maintenance", "#"),
		new KeyValuePair<string, string>("Option name", "Service")
	};
	string form;

	switch (Model.InputType)
	{
		case UserInputTypes.Text:
			form = "SaveTextInput";
			break;
		case UserInputTypes.Selection:
			form = "SaveSelection";
			break;
		case UserInputTypes.ScriptedSelection:
			form = "SaveScriptedSelection";
			break;
			default:
			form = "";		//controller will fail before reaching this point
			break;
	}

}

@using (Html.BeginForm(form, "ServiceRequestMaintenance", FormMethod.Post))
{

@section Content
{
	@switch (Model.InputType)
	{
		case UserInputTypes.Text:
			@Html.Partial("PartialViews/UserInputEditor", new TextInput())
			break;
		case UserInputTypes.Selection:
			@Html.Partial("PartialViews/UserInputEditor", new SelectionInput())
			break;
		case UserInputTypes.ScriptedSelection:
			@Html.Partial("PartialViews/UserInputEditor", new ScriptedSelectionInput())
			break;
	}

	<div class="panel-footer">
		<div class="float-right-div"><input type="submit" value="Save"/>
		</div>
	</div>

}

}
@section Sidebar
{
		some info here...

}
