@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewBag.Links = new List<KeyValuePair<string, string>>
    {
        new KeyValuePair<string, string>("Home", "Home"),
        new KeyValuePair<string, string>("Service Request Maintenance", "#")
    };

}

<div class="title-div">Maintenance Tasks</div>
<div class="panel-div">
    <div>@Html.ActionLink("Service Catalog Entries", "ShowServices", "ServiceRequestMaintenance")</div>
    <div> @Html.ActionLink("Service Request Packages", "ShowPackages", "ServiceRequestMaintenance")</div>
</div>

