@model Prometheus.WebUI.Models.ServiceRequestMaintenance.ServiceRequestOptionModel
@{
	ViewBag.Title = "ShowServiceOption";
	Layout = "~/Views/Shared/_SidebarLayout.cshtml";

	ViewBag.Links = new List<KeyValuePair<string, string>>
	{
		new KeyValuePair<string, string>("Home", "Home"),
		new KeyValuePair<string, string>("Service Request Maintenance", "#"),
		new KeyValuePair<string, string>("Service", "Service")
	};
}

@section Content
{
	<div class="dd">
		<div class="dd-row">
			<div class="dt-cell">Popularity</div>
		</div>
		<div class="dd-row">User Input</div>
		<div class="dd-cell">

		</div>
	</div>

	<div class="panel-footer">
		<div class="float-right-div">
			@Html.ActionLink("Add User Input", "AddUserInput", null, new { @class = "btn btn-primary"})
		</div>
	</div>
}

@section Sidebar
{
	
}
