@using Prometheus.WebUI.Infrastructure
@model Prometheus.WebUI.Models.ServiceRequestMaintenance.ServiceRequestOptionModel
@{
	ViewBag.Title = "ShowServiceOption";
	Layout = "~/Views/Shared/_SidebarLayout.cshtml";

	ViewBag.Links = new List<KeyValuePair<string, string>>
	{
		new KeyValuePair<string, string>("Home", "Home"),
		new KeyValuePair<string, string>("Service Request Maintenance", "#"),
		new KeyValuePair<string, string>("Service", "Service")
	};
}

@section Content
{
	<div class="dd">
		<div class="dd-row">
			<div class="dt-cell">Popularity</div>
			<div class="dd-cell">->determines where/if items show up on service catalog main page</div>
		</div>

		<div class="dd-row">
			<div class="dd-cell"> * pending requirements </div>
		</div>

		<div class="dd-row">
			<div class="dt-cell">User Input </div>
			 
		</div>
	</div>

	<div class="panel-footer">
		<div class="float-right-div">
			<div class="btn-group">
				<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Add User Input <span class="caret"></span>
				</button>
				<ul class="dropdown-menu pull-right">
					<li>@Html.ActionLink("Text", "AddUserInput", new {id = Model.Option.Id, type = UserInputTypes.Text })</li>
					<li>@Html.ActionLink("Selection", "AddUserInput", new {id = Model.Option.Id, type = UserInputTypes.Selection })</li>
					<li>@Html.ActionLink("Scripted Selection", "AddUserInput", new {id = Model.Option.Id, type = UserInputTypes.ScriptedSelection })</li>
				</ul>
			</div>

			
		</div>
	</div>
}

@section Sidebar
{
	
}
