@model Prometheus.WebUI.Models.ServiceRequestMaintenance.ServiceRequestCategoryModel
@using Common.Enums
@{
    ViewBag.Title = "Service Request Maintenance";
    ViewBag.SubTitle = Model.Category.Name;
    Layout = "~/Views/Shared/_SidebarLayout.cshtml";

            ViewBag.Links = new List<KeyValuePair<string, string>>
        {
            new KeyValuePair<string, string>("Home", "Home"),
            new KeyValuePair<string, string>("Service Request Maintenance", "ServiceRequestMaintenance/Index"),
            new KeyValuePair<string, string>(Model.ServiceName, "ServiceRequestMaintenance/ShowServices/" + Model.ServiceId),
            new KeyValuePair<string, string>(ViewBag.SubTitle, "#")
        };
}

@section Content
{
    <div class="title-div">@ViewBag.SubTitle</div>

    <div class="panel-div">
        @Html.Partial("PartialViews/ShowPublishable", Model.Category)
    </div>

    <div class="flex-container-col">
    <div class="panel-footer">
        <div class="float-right-div">
            @Html.ActionLink("Back", "ShowServices", new {id = Model.ServiceId}, new {@class = "btn btn-default btn-back"})

            @Html.ActionLink("Update", "UpdateServiceCategory", new {id = Model.Category.Id}, new {@class="btn btn-primary"})
        </div>
    </div>
</div>


}


@section Sidebar
{}
