@model Common.Dto.ServiceRequestPackageDto
@{
    ViewBag.Title = "UpdatePackage";
    Layout = "~/Views/Shared/_SidebarLayout.cshtml";
}




@section Content
{
    <div class="title-div">Update Package</div>

    <div class="panel-div">

    </div>

}


@section Sidebar
{
    
}