@using Prometheus.WebUI.Models.ServiceRequest
@model ServiceRequestModel

@if (Model.OptionCategories != null)
{


	foreach (var category in Model.OptionCategories)
	{
		if (Model.OptionCategories.Count > 1)
		{
			<div class="subsubtitle-div">@category.Name</div>
		}

		<div class="dd full-width">
			@foreach (var option in category.ServiceOptions)
			{
				@Html.Partial("PartialViews/ServiceOption", new ServiceOptionModel {Quantifiable = category.Quantifiable, ServiceOption = option})
			}
		</div>
	}
}
