@using Prometheus.WebUI.Models.ServiceRequest
@model ServiceRequestModel

@if (Model.OptionCategory != null)
{
	var category = Model.OptionCategory; @* room to be scaled to ICatalogPublishable *@

	<div class="dd full-width">
		@foreach (var option in category.ServiceOptions)
		{
			@Html.Partial("PartialViews/ServiceOption", new ServiceOptionModel {Quantifiable = category.Quantifiable, ServiceOption = option})
		}
	</div>
}
