@using DataService.Models
@model Common.Dto.IServiceRequestPackageDto
@if (Model != null)
{
    <div class="dd">
        <div class="dd-row">
            <div class="dt-cell">Name</div>
            <div class="dd-cell">@Model.Name</div>
        </div>
        <div class="dd-row">
            <div class="dt-cell">
                Associations
            </div>
            <div class="dd-cell">
                @foreach (var item in Model.ServiceOptionCategoryTags)
                {
                    <div>@item.ServiceOptionCategory.Name</div>
                }
            </div>
        </div>
        
    </div>
}

