@model Common.Dto.IServiceDto
    @foreach (var property in ViewData.ModelMetadata.Properties)
    {
        switch (property.PropertyName)
        {
            case "Name":
            case "Popularity":
            case "BusinessValue":
                <div class="dd-row">
                    <div class="dt-cell">@(property.DisplayName ?? property.PropertyName)</div>
                    <div class="dd-cell">@Html.Raw(property.Model)</div>
                </div>
                break;
            default:
                continue;
        }
    }
