@using Prometheus.WebUI.Helpers
@model dynamic
	<div class="dd">
	@foreach (var property in ViewData.ModelMetadata.Properties)
	{
		switch (property.PropertyName)
		{
			case "Id":
			case "Delimiter":
			case "Script":
			case "ExecutionEnabled":
				continue;
			default:
				<div class="dd-row">
					<div class="dt-cell">@(StringHelper.CamelToString(property.DisplayName) ?? property.PropertyName)</div>
					<div class="dd-cell">@Html.Raw(property.Model)</div>
				</div>
				break;
		}
	}
</div>