@{ 
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_BasicLayout.cshtml"; }
<div class="std-indent">
    <h2>What would you like to do today?</h2>

    <div style="height:40px;"></div>
    <div class="std-indent">
        <p>
            <label class="font-title1"><a href="~/ServicePortfolio">Service Portfolio</a></label> | edit   <br />
            <label class="font-title1">Services</label> | edit | maintenance <br />
        </p><p>
            <label class="font-title1">Business Service Catalog</label>  <br />
            <label class="font-title1">Supporting Service Catalog</label>
        </p><p>
            <label class="font-title1">Submit a Service Request</label> | edit | maintenance <br />
            <label class="font-title1">Service Request Approvals</label>
        </p>
        <p>
            <label class="font-title1">System Access</label> | permissions


    </div>

</div>