@using Prometheus.WebUI.Helpers
@model Prometheus.WebUI.Models.Shared.InputModel<Common.Dto.ScriptedSelectionInputDto>
<div class="dd full-width">
	<div class="dd-row">
		<div class="dd-cell-nostyle">
			@Html.TextBox(Model.ControlName, null, new {id = StringHelper.RemoveNonAlphaNum(Model.Control.DisplayName), style = "max-width: 350px;", @class = "form-control"})
		</div>
		<div class="dd-cell-nostyle" style="width: 20px;">
			@if (!string.IsNullOrEmpty(Model.Control.HelpToolTip))
			{
				<span class="btn-round make-space-left" data-html="true" data-toggle="tooltip" data-placement="top" title="@Html.Raw(Model.Control.HelpToolTip)"><i class="fa fa-question" aria-hidden="true"></i></span>
			}
		</div>
	</div>
</div>

<script type="text/javascript" language="javascript">
	//hi
</script>