@using Prometheus.WebUI.Helpers
@model Prometheus.WebUI.Models.Shared.SelectionInputModel

<div class="input-group">
    @Html.TextBox(Model.ControlName, null, new { id = "serviceRequest_UserInputs", style = "max-width: 350px;" })
    <span class="input-group-btn">
        <span class="btn btn-primary" data-html="true" data-toggle="tooltip" title="@Html.Raw(Model.SelectionInput.HelpToolTip)"><i class="fa fa-question" aria-hidden="true"></i></span>
    </span>
</div>
<script type="text/javascript" language="javascript">
    $('#serviceRequest_UserInputs')
        .selectize({
            plugins: ['remove_button'],
            delimiter: ',',
            valueField: 'value',
            labelField: 'label',
            persist: false,
            maxItems: @(Model.SelectionInput.NumberToSelect),
            options: [ @Html.Raw(StringHelper.ConvertStringtoJsValLabelArray(Model.SelectionInput.SelectItems, ',')) ]
        });
</script>