@model Prometheus.WebUI.Models.Shared.ServiceNavModel
@{
    
    <div class="btn-group">
        @foreach (string sectionItem in Model.Sections)
        {
            if (sectionItem.Replace(" ", "") == Model.SelectedSection)
            {
                <label class="btn btn-default active">@sectionItem</label>
            }
            else
            {
                @Html.ActionLink(sectionItem, "Show", new {section = sectionItem.Replace(" ", ""), id = Model.Id}, new {@class = "btn btn-default"})
            }
        }
    </div>
}

