@model Prometheus.WebUI.Models.Shared.ServiceNavModel
@{

    <div class="btn-group" style="margin-bottom: 10px;">
        <ul class="nav nav-pills nav-justified">
            @foreach (var sectionItem in Model.NavLinks)
            {
                if (Model.SelectedRouteString == "GeneralOnly" && sectionItem.Key == "General")
                {
                    <li><a href="#">@sectionItem.Value</a></li>
                }
                else if (Model.SelectedRouteString != sectionItem.Key)
                {
                    <li role="presentation"> @Html.ActionLink(sectionItem.Value, "Show", "Service", new { section = sectionItem.Key, id = Model.Id }, new { @class = "btn btn-default" })</li>
                }
                else
                {
                    <li class="active"><a href="#">@sectionItem.Value</a></li>
                }
            }
        </ul>
    </div>
}

