@model Prometheus.WebUI.Models.Shared.ServiceNavModel
@{
    
    <div class="btn-group">
        @foreach (KeyValuePair<string, string> sectionItem in Model.NavLinks)
        {
            if (Model.SelectedRouteString == "GeneralOnly" && sectionItem.Key=="General")
            {
                <label class="btn btn-default active">@sectionItem.Value</label>
            }
            else if (Model.SelectedRouteString != sectionItem.Key)
            {
                @Html.ActionLink(sectionItem.Value, "Show", "Service",  new {section = sectionItem.Key, id = Model.Id}, new {@class = "btn btn-default"})
            }
            else
            {
                <label class="btn btn-default disabled">@sectionItem.Value</label>
            }
        }
    </div>
}

