@using Prometheus.WebUI.Helpers
@model Prometheus.WebUI.Models.Shared.InputModel<Common.Dto.TextInputDto>
<div class="dd full-width">
	<div class="dd-row">
		<div class="dd-cell-nostyle">
			@if (Model.Control.MultiLine)
			{
				@Html.TextArea(Model.ControlName, null, new {@class = "ckeditor"})
			}
			else
			{
				@Html.TextBox(Model.ControlName + "Value", null, new {@class = "form-control", id = StringHelper.RemoveNonAlphaNum(Model.Control.DisplayName), data_val_required = "Required"})
				@Html.ValidationMessage($"{Model.ControlName}Value")
			}
		</div>

		<div class="dd-cell-nostyle" style="width: 20px;">
			@if (!string.IsNullOrEmpty(Model.Control.HelpToolTip))
			{
				<span class="btn-round make-space-left" data-html="true" data-toggle="tooltip" data-placement="top" title="@Html.Raw(Model.Control.HelpToolTip)"><i class="fa fa-question" aria-hidden="true"></i></span>
			}
		</div>
		
	</div>
</div>
