@model List<KeyValuePair<string, string>>
@using Prometheus.WebUI.HtmlHelpers

<div class="navbar navbar-inverse navbar-fixed-top" style="height: 45px;">
    <div style="width:60%; float:left;"><label class="navbar-brand">@ViewBag.Title</label></div>
    <div style="width:40%; float:right;">
        <label class="font-small-inverse-dull">Logged in as </label><label style="color: #ffffff;">&nbsp; guest</label> <br /> 
        @Html.ActionLink("Logout", "Logout", "UserAccount", null, new { @class = "btn-small btn-default" })
    </div>
</div>
<div class="breadcrumb-container">
    @if (ViewBag.Links != null)
    {
        @Html.BreadrumbTrail(Model, "breadcrumb", "active")
    }
</div>

@if (TempData["message"] != null)
{
    string cssClass = null;
    if (TempData["messageType"] != null)
    {
        if (TempData["messageType"].ToString() == "success")
        {
            cssClass = "alert-success";
        }
    }

    <div class="alert alert-dismissable @cssClass close" role="alert" data-dismiss="alert" aria-label="Close" style="margin-top: -13px;">
        <span class="float-left-div;">&times;</span>
        @TempData["message"]
    </div>
}