@model List<KeyValuePair<string, string>>
@using Prometheus.WebUI.Helpers
@using Prometheus.WebUI.HtmlHelpers

<div class="navbar-inverse navbar-fixed-top">

    <div class="content-body">

            <div class="float-right-div" style="padding-right: 10px; display: inline-block;">
				
                <div class="dropdown">
                    <span class="font-inverse">@Session["DisplayName"]</span>
                    <span class="hamburger-menu btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">&equiv;</span>
                    <div class="dropdown-menu pull-right" aria-labelledby="dropdownMenuButton">
                        <ul class="list-unstyled">
                            <li><a class="dropdown-item" href="~/UserAccount/Logout">Logout</a></li>
                            <li><a class="dropdown-item" href="~/Home/Index">Home</a></li>
                        </ul>
                        <div class="dropdown-divider"></div>
                        <ul class="list-unstyled">
                            <li class="dropdown-item">Roles</li>

                        </ul>
                    </div>
                </div>

            </div>
	    <div class="float-left-div">
		    <label class="navbar-brand">@ViewBag.Title</label>
	    </div>


		<label class="font-inverse" style="margin-top: 12px;">Contact us at: 123-4567</label>
	


    </div>

</div>

<div class="breadcrumb-container content-body">
    @if (ViewBag.Links != null)
    {
        @Html.BreadrumbTrail(Model, "breadcrumb", "active")
    }
</div>

@{
    if (TempData["MessageType"] != null && TempData["Message"] != null) /* display messages */
    {
        string cssClass;
        switch (TempData["MessageType"] as WebMessageType?)
        {
            case WebMessageType.Success:
                cssClass = "alert-success";
                break;
            case WebMessageType.Failure:
                cssClass = "alert-danger";
                break;
            case WebMessageType.Info:
                cssClass = "alert-info";
                break;
            default:
                cssClass = null;
                break;
        }
        <div class="content-body" style="background-color: #fff;">
            <div class="alert alert-dismissable @cssClass close" role="alert" data-dismiss="alert" aria-label="Close" style="margin-top: -13px;">
                <span class="float-left-div;">&times;</span>
                @TempData["Message"]
            </div>
        </div>
    }
}
