@using Common.Dto
@model Prometheus.WebUI.Models.ServiceCatalog.OptionModel
@{
	ViewBag.Title = Model.Catalog + " Catalog";
	ViewBag.SubTitle = Model.Option.Name;
	Layout = "~/Views/Shared/_SidebarLayout.cshtml";

	ViewBag.Links = new List<KeyValuePair<string, string>>
	{
		new KeyValuePair<string, string>("Home", "Home"),
		new KeyValuePair<string, string>(ViewBag.Title, "ServiceCatalog/" + Model.Catalog),
		new KeyValuePair<string, string>(ViewBag.SubTitle, "#")
	};
}



@section Sidebar
{
	other options go here. i guess
}

@section Content
{
	<div class="title-div">@Model.Option.Name</div>
	<div>
		@Html.Raw(Model.Option.Description)
	</div>


	if this was done, you'd see info here.
	@if (Model.Option is IServiceOptionDto)
	{
		<text> this is an option </text>
	}
	else if (Model.Option is IOptionCategoryDto)
	{
		IOptionCategoryDto category = (IOptionCategoryDto)Model.Option;
		<div>
			this is a category
		</div>
		foreach (var option in category.ServiceOptions)
		{
			@Html.Partial("PartialViews/OptionView", option)
		}

		<text>you have reached a beautiful place. </text>
	}

}
