@using Common.Dto
@using Common.Enums.Entities
@using Prometheus.WebUI.Models.ServiceCatalog
@model Prometheus.WebUI.Models.ServiceCatalog.OptionModel
@{
    ViewBag.Title = Model.Catalog + " Catalog";
    ViewBag.SubTitle = Model.Option.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewBag.Links = new List<KeyValuePair<string, string>>
    {
        new KeyValuePair<string, string>("Home", "Home"),
        new KeyValuePair<string, string>(ViewBag.Title, "ServiceCatalog/Index/" + Model.Catalog),
        new KeyValuePair<string, string>(Model.ServiceName, $"ServiceCatalog/ServiceOptions/{Model.Catalog}/{Model.ServiceId}"),
        new KeyValuePair<string, string>(ViewBag.SubTitle, "#")
    };
}
@Html.Partial("PartialViews/CatalogControls", Model.Controls)
<div class="flex-row">
    <div class="conent-sidebar panel-div" style="display: flex; flex: 1;">
        <div class="title-div">Other Options</div>

        <div class="flex-container-col" style="padding-top: 5px; padding-bottom: 5px;">
            @if (Model.Options != null)
            {
                CatalogableType selectedType = Model.Option is IServiceOptionDto ? CatalogableType.Option : CatalogableType.Category;

                foreach (var option in Model.Options)
                {
                    CatalogableType optionType = CatalogableType.Option; //initialize with a default value
                    if (option is IServiceOptionCategoryDto)
                    {
                        optionType = CatalogableType.Category;
                    }
                    else if (option is IServiceOptionDto)
                    {
                        optionType = CatalogableType.Option;
                    }


                    <div class="@(Model.Option.Id == option.Id && selectedType == optionType ? "bg-primary" : "bg-default")">
                        @Html.ActionLink(option.Name, "Details", new {catalog = Model.Catalog, type = optionType, id = option.Id, serviceId = Model.ServiceId })
                    </div>
                }
            }
        </div>

    </div>

    <div class="content-main panel-div" style="display: flex; flex: 1;">
        @Html.Partial("PartialViews/FullOfferingView", new PublishableCatalogItemModel {Item = Model.Option, Catalog = Model.Catalog})
    </div>
</div>