@using Common.Dto
@using Common.Enums.Entities
@using Prometheus.WebUI.Helpers.Enums
@model Prometheus.WebUI.Models.ServiceCatalog.CatalogModel

@{
	ViewBag.Title = Model.Catalog == ServiceCatalogs.Business ? "Business Catalog" : "Technical Catalog";

	Layout = "~/Views/Shared/_Layout.cshtml";
	ViewBag.Links = new List<KeyValuePair<string, string>>
	{
		new KeyValuePair<string, string>("Home", "Home"),
		new KeyValuePair<string, string>(ViewBag.Title, "#")
	};
	}

@Html.Partial("PartialViews/CatalogControls", Model.Catalog)

<div style="display: flex; flex-flow: row wrap;"></div>
@if (Model.CatalogItems != null && Model.CatalogItems.Any())
{
	foreach (var service in Model.CatalogItems)
	{
		<div class="panel-primary cat-box">
			<div class="panel-heading cat-box-heading">
				@Html.ActionLink(service.ServiceName, "ServiceOptions", new { type = Model.Catalog, serviceId = service.ServiceId }, new {@class="font-inverse"})
			</div>
			<div style="min-height: 100px; padding: 5px;">
				<ul class="cat-ul">
					@foreach (var item in service.Options)
					{
						CatalogableTypes optionType = item is IOptionCategoryDto ? CatalogableTypes.Category : CatalogableTypes.Option;
						<li>
							<span>
								@Html.ActionLink(item.Name, "Details", new {type = optionType, serviceId = service.ServiceId, id = item.Id })
							</span>
						</li>
					}
				</ul>

			</div>
			<div class="panel-footer">@Html.ActionLink("View all", "ServiceOptions", new { type = Model.Catalog, serviceId= service.ServiceId })</div>
		</div>
	}
}
else
{
	<div class="alert alert-message alert-warning" style="margin-top: 10px;">No Services available.</div>
}


