@model Prometheus.WebUI.Models.ServiceCatalog.CatalogModel
@using Prometheus.WebUI.Helpers.Enums
@using Prometheus.WebUI.Models.ServiceCatalog
@{
	ViewBag.Title = Model.Catalog == ServiceCatalog.Business ? "Business Catalog" : "Technical Catalog";

	Layout = "~/Views/Shared/_Layout.cshtml";
	ViewBag.Links = new List<KeyValuePair<string, string>>
	{
		new KeyValuePair<string, string>("Home", "Home"),
		new KeyValuePair<string, string>(ViewBag.Title, "#")
	};
}

@Html.Partial("PartialViews/CatalogControls", Model.Controls)


@if (Model.CatalogItems != null && Model.CatalogItems.Any())
{
	foreach (var r in Model.CatalogItems)
	{

		@Html.Partial("PartialViews/SummarizedCatalogableView", new PublishableCatalogItemModel {Item = r, Catalog = Model.Catalog})
	}
}
else
{
	<div class="alert alert-message alert-warning" style="margin-top: 10px;">No Results Found.</div>
}