@using Common.Dto
@using Common.Enums.Entities
@using Prometheus.WebUI.Helpers
@using Prometheus.WebUI.Helpers.Enums
@using Prometheus.WebUI.Models.ServiceCatalog
@model CatalogModel

@{
	ViewBag.Title = (Model.Catalog == ServiceCatalogs.Both ? "Service" : $"{Model.Catalog}") + " Catalog";

	Layout = "~/Views/Shared/_Layout.cshtml";
	ViewBag.Links = new List<KeyValuePair<string, string>>
	{
		new KeyValuePair<string, string>("Home", "Home"),
		new KeyValuePair<string, string>(ViewBag.Title, "#")
	};
	}

@Html.Partial("PartialViews/CatalogControls", Model.Controls)

<div style="display: flex; flex-flow: row wrap;"></div>
@if (Model.CatalogItems != null && Model.CatalogItems.Any())
{
	foreach (var s in Model.CatalogItems)
	{
		if (s is ServiceSummary)
		{
			var service = (ServiceSummary)s;

			<div class="panel-primary cat-box">
			<div class="panel-heading cat-box-heading">
				@Html.ActionLink(service.Name, "ServiceOptions", new { type = Model.Catalog, serviceId = service.Id }, new {@class="font-inverse"})
			</div>
			<div style="min-height: 100px; padding: 5px;">
				<ul class="cat-ul">
					@foreach (var item in service.Options)
					{
						var optionType = item is IOptionCategoryDto ? CatalogableTypes.Category : CatalogableTypes.Option;
						<li>
							<span>@Html.ActionLink(item.Name, "Details", new {type = optionType, serviceId = service.Id, id = item.Id })</span>
						</li>
					}
				</ul>
			</div>
			<div class="panel-footer">@Html.ActionLink("View all", "ServiceOptions", new { type = Model.Catalog, serviceId= service.Id })</div>
		</div>
		}
	}
}
else
{
	<div class="alert alert-message alert-warning" style="margin-top: 10px;">No Services available.</div>
}


