@model dynamic
    
@Html.Hidden("Id", (string)Model.Id.ToString())
@Html.Hidden("Name", (string)Model.Name)


<div class="title-div">Confirm Deletion</div>
<div class="panel-div">
    Are you sure you want to delete lifecycle status:
	<div>
		<div class="present-section">
			@Model.Name
		</div>
	</div>
</div>
