@model dynamic
    
@Html.Hidden("Id", (string)Model.Id.ToString())
@Html.Hidden("Name", (string)Model.Name)


<div class="title-div">Confirm Deletion</div><text>Are you sure you want to delete lifecycle status:</text>
<section class="present-section">
    @Model.Name
</section>
