@model dynamic
    
@Html.Hidden("Id", (string)Model.Id.ToString())
@Html.Hidden("Name", (string)Model.Name)


<div class="title-div">Confirm Deletion</div>
<div class="panel-body">
    Are you sure you want to delete lifecycle status:
    <section class="present-section">
        @Model.Name
    </section>
</div>
