@model Common.Dto.ServiceDto

<div class="dd">
    <div class="dd-row">
        <div class="dt-cell">Name</div>
        <div class="dd-cell">@Model.Name</div>
    </div>
    <div class="dd-row">
        <div class="dt-cell">Status</div>
        <div class="dd-cell">@Model.LifecycleStatusDto.Name</div>
    </div>
    <div class="dd-row">
		<div class="dt-cell">Service Owner</div>
		<div class="dd-cell">@Model.ServiceOwner</div>
	</div>
</div>