@model DataService.Models.Service

<div class="std-div">
    <table><tr>
        <td>
            @Model.Name
            <p/>
            Description.....

            <p/>
            <label class="font-title-initial">Business Owner</label>
            <p/>
            <label class="font-title-initial">Service Owner</label>


        </td>

        <td>
            <label class="font-title-initial">Service Type</label>
            <p/>

            <div class="std-indent">
                
                <label class="font-title-initial">Role</label>
                <p/>

                <label class="font-title-initial">Provision</label>

            </div>
            <label class="font-title-initial">Status</label>

</td>
    </tr></table>

</div>