@model Prometheus.WebUI.Models.Service.SwotTableModel

<table>
    <tr>
        <td class="std-cell">Strengths</td>
        <td class="std-cell"></td>
    </tr>
    <tr>
        <td class="std-cell">Opportunities</td>
        <td class="std-cell"></td>
    </tr>

    <tr>
        <td class="std-cell">Weaknesses</td>
        <td class="std-cell"></td>
    </tr>

    <tr>
        <td class="std-cell">Threats</td>
        <td class="std-cell"></td>
    </tr>
</table>
