@model dynamic
    @if (Model != null)
    {
        <table>

            @foreach (var property in ViewData.ModelMetadata.Properties)
            {
                if (property.PropertyName.Contains("Id") || property.PropertyName.Contains("DateC") || property.PropertyName.Contains("DateU"))
                {
                    continue;
                }

                <tr>
                    <td class="dt-cell">
                        @(property.DisplayName ?? property.PropertyName)
                    </td>
                    <td class="dd-cell">@Html.Raw(property.Model)</td>
                </tr>
            }


        </table>
    }
    else
    {
        <text>the item no longer exists</text>
    }