@model Prometheus.WebUI.Models.Service.LifecycleStatusesModel

@if (Model != null && Model.LifecycleStatuses.Any())
{
    int rowLength = 0;

    <div class="btn-group" data-toggle="buttons">
        @foreach (var status in Model.LifecycleStatuses)
        {
            if (rowLength > 5)
            {
                <br />
                rowLength = 0;
            }

            <label class="btn btn-default" id="LifecycleStatus@(status.Item1)">
                @if (Model.SelectedStatus != status.Item1)
                {
                    <input type="radio" name="LifecycleStatusId" value="@status.Item1" data-val="true" />

                }
                else
                {
                    <input type="radio" name="LifecycleStatusId" value="@status.Item1" data-val="true" checked="checked" />
                }
                @status.Item2
            </label>
            rowLength++;
        }
    </div>
}
else
{
    <div class="alert alert-warning">No statuses exist</div>
}

@if (Model != null)
{
    <script type="text/javascript" language="javascript">
        $('#LifecycleStatus@(Model.SelectedStatus)').button('toggle');
    </script>
}