@model Common.Dto.ServiceDto

<div class="std-div">
    <table>
        <tr>
            <td class="dt-cell">Name</td>
            <td class="dd-cell">@Model.Name</td>
        </tr>
        <tr>
            <td class="dt-cell">Description</td>
            <td class="dd-cell">@Model.Description</td>
        </tr>
        <tr>
            <td class="dt-cell">Business Owner</td>
            <td class="dd-cell">@Model.BusinessOwner</td>
        </tr>
        <tr>
            <td class="dt-cell">Service Owner</td>
            <td class="dd-cell">@Model.ServiceOwner</td>

    </tr>
    <tr>

        <td class="dt-cell">Service Type</td>
        <td class="dd-cell">
            <table>
                <tr>
                    <td class="dt-cell">Role</td>
                    <td class="dd-cell"></td>
                </tr>
                <tr>
                    <td class="dt-cell">Provision</td>
                    <td class="dd-cell"></td>
                </tr>
            </table>
        </td>
        </tr><tr>
            <td class="dt-cell">Status</td>
        <td class="dd-cell"></td>
    </tr>
</table>

</div>