@model dynamic
	@if (Model != null)
	{
		<div class="dd">
			@foreach (var property in ViewData.ModelMetadata.Properties)
			{
				if (property.PropertyName.Contains("Id") || property.PropertyName.Contains("Created") || property.PropertyName.Contains("Updated"))
				{
					continue;
				}
				<div class="dd-row">
					<div class="dt-cell">@(property.DisplayName ?? property.PropertyName)</div>
					@if (property.PropertyName.Contains("Date"))
					{
						<div class="dd-cell">
							@if (property.Model != null)
							{
								{
									@Html.Raw(((DateTime)property.Model).ToString("d"))
								}
							}
						</div>
					}
					else
					{
						<div class="dd-cell">@Html.Raw(property.Model)</div>
					}

				</div>
			}
		</div>
	}
	else
	{
		<div class="alert alert-warning">
			Data no longer exists.
		</div>
	}
