@model Prometheus.WebUI.Models.Service.LifecycleStatusesModel

@if (Model != null && Model.LifecycleStatuses.Any())
{
    


        <select id="LifecycleStatusId" name="LifecycleStatusId" placeholder="Lifecycle Status" style="width: 200px;" >
            <option value="">Status</option>
            @foreach (var status in Model.LifecycleStatuses)
            {
                if (Model.SelectedStatus == status.Item1)
                {
                    <option selected="selected" value="@status.Item1">@status.Item2</option>
                }
                else
                {
                    <option value="@status.Item1">@status.Item2</option>
                }
            }
        </select>


}
else
{
    <div class="alert alert-warning">No statuses exist</div>
}


<script type="text/javascript" language="javascript">
    $(document)
        .ready(function() {
            $('#LifecycleStatusId')
                .selectize({
                maxItems: 1
                });
        });

</script>
