@model DataService.Models.ServiceSwot
    @{
        foreach (var property in ViewData.ModelMetadata.Properties)
        {
            if (!property.PropertyName.Contains("Id"))
            {
                <div>
                    <label class="font-title-initial">@(property.DisplayName ?? property.PropertyName)</label>
                    @Html.TextBox(property.PropertyName, property.Model, null, new {@class="form-control"})
                </div>
            }
        }
    }
