<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Prometheus - @ViewBag.Title</title>
	<link rel="shortcut icon" href="~/Content/favicon.ico" />
	<script src="https://use.fontawesome.com/96d73b50ed.js"></script>
	<script src="~/Scripts/jquery-3.1.1.min.js"></script>
	<script src="~/Scripts/bootstrap.min.js"></script>
	<script src="~/Scripts/jquery.validate.js"></script>
	<script src="~/Scripts/ckeditor/ckeditor.js"></script>
	<script src="~/Scripts/bootstrap-datepicker.min.js"></script>
	<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
	<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
	<script src="~/Scripts/selectize.js"></script>
	<script src="~/Scripts/bootstrap-select.min.js"></script>
	<link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
	<link href="~/Content/bootstrap.css" rel="stylesheet" type="text/css" />
	<link href="~/Content/bootstrap-datepicker3.css" rel="stylesheet" type="text/css" />
	<link href="~/Content/selectize.bootstrap3.css" rel="stylesheet" type="text/css" />
	<link href="~/Content/bootstrap-select.min.css" rel="stylesheet" type="text/css" />
	<link href="~/Content/PrometheusCustom.css" rel="stylesheet" type="text/css" />
</head>
<body>
    @Html.Partial("PartialViews/_TitleBar", (List<KeyValuePair<string, string>>)ViewBag.Links)


    <div class="content-body">
      
        <div class="panel-body" style="margin-top: -10px;">
            @RenderBody()
        </div>
        <div class="panel-footer">
            <span class="copyright-notice">&copy;2017 Prometheus</span>
        </div>

    </div>
</body>
</html>
