<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Prometheus</title>
    <script src="https://use.fontawesome.com/96d73b50ed.js"></script>
    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/ckeditor/ckeditor.js"></script>
    <script src="~/Scripts/bootstrap-datepicker.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Scripts/selectize.js"></script>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap-datepicker3.css" rel="stylesheet" type="text/css"/>
    <link href="~/Content/selectize.css" rel="stylesheet" type="text/css"/>
    
    <link href="~/Content/PrometheusCustom.css" rel="stylesheet" type="text/css"/>
</head>
<body>

    @Html.Partial("PartialViews/_TitleBar", (List<KeyValuePair<string, string>>)ViewBag.Links)

<div class="content-body" style="margin-top: -12px;">
    <div class="panel-body" style="position: relative; z-index: 1">
        <div style="display: flex;">
            <div class="conent-sidebar panel-div">@RenderSection("Sidebar")</div>
            <div class="content-main panel-div">@RenderSection("Content")</div>
        </div>
    </div>
    <div class="panel-footer">
        <span class="copyright-notice">&copy;2017 Prometheus</span>
    </div>
</div>
</body>
</html>

