@model Prometheus.WebUI.Models.Shared.TableDataModel
<div class="std-div">
    @if (Model.Titles != null)
    {

        <table>

            <tr>
                @foreach (string title in Model.Titles)
                {
                    <th><label class="font-title-initial">@title</label></th>
                }
            </tr>

            @foreach (var row in Model.Data)
            {
                <tr>
                    @foreach (string data in row.Value)
                    {
                        <td>@data</td>
                    }

                </tr>
            }

        </table>
    }
</div>