@model Prometheus.WebUI.Models.SystemAccess.ConfirmDeleteModel

<input type="hidden" name="Id" value="@Model.Id" />
<input type="hidden" name="FriendlyName" value="@Model.Name" />

<div class="panel-div">
	Are you sure you want to delete
	<div>
		<div class="present-section">
			@Model.Name
		</div>
	</div>
</div>
