@model IEnumerable<Common.Dto.IRoleDto>

@foreach (var role in Model)
{

	<div class="checkbox checkbox-primary">
		<input id="@role.Id" type="checkbox" name="roles" value="@role.Id">
		<label for="@role.Id">
			@role.Name
		</label>
	</div>

}
