@model Prometheus.WebUI.Models.SystemAccess.UserControlsModel
<div class="panel panel-default">

    <div class="flex-row">
        <div style="height: 100%;" class="make-space-top make-space-left">
            @if (Model.Roles != null)
            {
                <div class="dropdown">
                    <span class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Filter</span>


                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">

                        <li>@Html.ActionLink("All Roles", "FilterByRole", "SystemAccess", new { id = 0 }, new { @class = "dropdown-item" })</li>
                        <li class="divider"></li>

                        @foreach (var role in Model.Roles)
                        {
                            <li>@Html.ActionLink(role.Item2, "FilterByRole", new { id = role.Item1 })</li>
                        }
                    </ul>
                </div>
            }
        </div>
        <div class="make-space-left make-space-right">
            @using (Html.BeginForm("SearchAdAccount", "SystemAccess", FormMethod.Post))
            {
                <div class="input-group make-space-top make-space-bottom" style="max-width: 400px;">
                    <input name="searchString" type="text" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                        <button class="btn btn-primary" type="submit">
                            <i class="fa fa-search" aria-hidden="true"></i>
                            Search
                        </button>
                    </span>
                </div>
            }
        </div>
        <div class="make-space-right make-space-top">
            <div class="btn-group">
                @for (int i = 0; i < Model.TotalPages; i++)
                {
                    if (Model.CurrentPage == i)
                    {
                        <span class="btn btn-default active">@(i + 1)</span>
                    }
                    else
                    {
                        @Html.ActionLink((i + 1).ToString(), "FilterByRole", "SystemAccess", new { id = Model.SelectedRole, pageId = i }, new { @class = "btn btn-default" })
                    }
                }
            </div>
        </div>
    </div>
</div>

