.alert-message {
    display: inline-block;
}


.title-underline {
    border-bottom: 1px solid #ddd;
}

.font-title1 {
    font-size: 1.3em;
    color: #17a7f8;
}

.font-title2 {
    font-size: 1.1em;
    color: #17a7f8;
}

.hugetitle-div {
    font-size: 1.5em;
}

.title-div {
    border-bottom: 1px solid #ddd;
    font-size: 1.3em;
    font-weight: 500;
    color: #333;
    padding: 5px 5px;
}

.title-font {
    font-size: 1.3em;
    font-weight: 500;
    color: #333;
}

.subtitle-div {
    border-bottom: 1px solid #ddd;
    font-size: 1.2em;
    font-weight: 500;
    color: #333;
    padding: 5px 5px;
    margin-bottom: 10px;
}

.title-div-placeholder {
    border-bottom: 1px solid #ddd;
    padding: 5px 5px;
}

.subsubtitle-div {
    color: #333;
    white-space: nowrap;
    font-size: 1em;
    font-weight: 600;
    margin-bottom: 5px;
    display: inline-block;
}

.copyright-notice {
    font-size: 0.8em;
    color: #aaaaaa;
}

.note {
    font-size: 0.8em;
    color: #666;
}

.instructions-div {
    color: #333333;
    font-size: 0.8em;
}

.font-inverse {
    color: #fff;
}

    .font-inverse:hover {
        color: #fff;
    }

    .font-inverse:active {
        color: #fff;
    }

.hamburger-menu {
    font-size: 2em;
    color: #ddd;
    display: inline-block;
    font-weight: normal;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
}

    .hamburger-menu:hover {
        color: #fff;
    }

    .hamburger-menu:active {
        outline: 0;
        -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
        box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    }

.form-money {
    max-width: 100px;
}

.form-number {
    max-width: 60px;
}

.form-date {
    max-width: 150px;
}

.form-short-text {
	max-width: 100px;
}

.font-home-link {
    color: #19A7F8;
    font-weight: 600;
    font-size: 15px;
}

.table-title {
    color: #0C537C;
    font-size: 0.9em;
    font-weight: 600;
    padding-right: 10px;
}

.flex-container-col {
    display: flex;
    flex-direction: column;
}

.flex-container {
    display: flex;
    flex-direction: column;
}

.flex-container-center {
    display: flex;
    justify-content: space-around;
}

.flex-container-row {
    display: flex;
    flex-direction: row;
}

.flex-container-centre {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}

.flex-container-frame-centre {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.flex-square-container {
    position: relative;
    width: 100%;
    /* desired width */
    box-sizing: border-box;
    margin: 0 auto;
}


.flex-square-content {
    position: relative;
    display: flex;
    flex-direction: column;
}

.flex-row {
    flex: 1;
    display: flex;
}

.flex-cell {
	flex: 1;
    display: flex;
}

    .flex-row .flex-col {
        padding: 10px;
        flex: 1;
        display: flex;
        flex-direction: column;
        min-width: 300px;
    }


.btn-empty {
    display: inline-block;
    text-align: center;
    padding: 3px;
    margin-bottom: 0;
    font-size: 12px;
    font-weight: normal;
    line-height: 1.428571429;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-color: white;
    border: 1px solid #cccccc;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


.highlight {
    background-color: #e5e5e5;
}


.std-cell {
    vertical-align: top;
    padding: 2.5px;
}

.content-cell {
    text-align: center;
    vertical-align: bottom;
    margin: 20px;
    max-width: 125px;
}

.std-div {
    background-color: #fff;
}

.float-right-div {
    float: right;
    margin-left: 5px;
    clear: both;
}

.float-left-div {
    float: left;
    display: inline-block;
    margin-right: 20px;
    margin-left: 5px;
}

.breadcrumb-container {
    vertical-align: central;
    position: relative;
    background-color: #f5f5f5;
}

.cke_toolbar {
    zoom: 0.84;
}

.bg-primary {
    color: #ffffff;
    background-color: #127CBA;
    border-color: transparent;
    padding: 3px 6px;
    border: 1px solid transparent;
    border-radius: 5px;
}

    .bg-primary > a {
        color: #ffffff;
    }

    .bg-primary:hover {
        background-color: #19A7F8;
    }


.bg-default {
    padding: 3px 6px;
    border-radius: 4px;
    border: 1px solid transparent;
}

    .bg-default:hover {
        background-color: #eeeeee;
        border-color: #cccccc;
    }

.dd {
    display: table;
}

.dd-row {
    display: table-row;
}

.dt-sp {
    color: #414141;
    padding-bottom: 10px;
}

.dt-text {
    color: #0C537C;
    font-weight: 600;
}

.dt-cell {
    display: table-cell;
    vertical-align: top;
    text-align: right;
    font-weight: 600;
    padding-right: 5px;
    color: #0C537C;
    padding-bottom: 10px;
}

.dt-font {
    color: #0C537C;
    font-weight: 600;
}

.dd-cell {
    display: table-cell;
    text-align: left;
    padding-left: 5px;
    padding-bottom: 10px;
    padding-right: 10px;
    width: 75%;
}

.dd-cell-multicol {
    display: table-cell;
    text-align: left;
    padding-left: 5px;
    padding-bottom: 10px;
    margin-right: 10px;
}
.dd-cell-nostyle {
    display: table-cell;
    vertical-align: top;
}

.dd-cell-base {
    display: table-cell;
    padding-bottom: 10px;
    padding-left: 10px;
    vertical-align: top;
}

.color-bar {
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    width: 10px;
    display: table-cell;
    position: relative;
    margin-right: 10px;
    background-color: #17a7f8;
}

    .color-bar:hover {
        background-color: #0897e8;
    }

.highlight-cell {
    width: 10px;
    display: table-cell;
    background-color: #ddd;
}

.highlight-cell-top {
    width: 10px;
    display: table-cell;
    background-color: #ddd;
    border-top-right-radius: 4px;
}

.highlight-cell-bottom {
    width: 10px;
    display: table-cell;
    background-color: #ddd;
    border-bottom-right-radius: 4px;
}

.highlight-cell-single {
    width: 10px;
    display: table-cell;
    background-color: #ddd;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}


.ul-menu {
    list-style-type: none;
    padding: 0;
    margin: 5px;
    font-size: 12px;
}

.field-validation-error {
    color: #ff1100;
    font-size: 12px;
}

.input-validation-error {
    background-color: #FFCCCC;
    border-color: #ff1100;
}

.present-section {
    text-align: center;
    margin: 10px 10px;
    padding: 5px 5px;
    border-radius: 2px;
    border: 1px solid transparent;
    background-color: #f5f5f5;
	display: inline-block;
}

.panel-div {
    display: flex;
    padding: 10px;
    flex-direction: column;
    min-height: 400px;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}


/* file upload */
.clearfix {
    *zoom: 1;
}

    .clearfix:before, .clearfix:after {
        display: table;
        content: "";
        line-height: 0;
    }

    .clearfix:after {
        clear: both;
    }

.hide-text {
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}

.input-block-level {
    display: block;
    width: 100%;
    min-height: 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.btn-file {
    overflow: hidden;
    position: relative;
    vertical-align: middle;
}

.btn-back {
    margin-right: 20px;
    margin-left: 5px;
}

.btn-file > input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    transform: translate(-300px, 0) scale(4);
    font-size: 23px;
    direction: ltr;
    cursor: pointer;
}

.fileupload {
    margin-bottom: 9px;
}

    .fileupload .uneditable-input {
        display: inline-block;
        margin-bottom: 0px;
        vertical-align: middle;
        cursor: text;
    }

    .fileupload .thumbnail {
        overflow: hidden;
        display: inline-block;
        margin-bottom: 5px;
        vertical-align: middle;
        text-align: center;
    }

        .fileupload .thumbnail > img {
            display: inline-block;
            vertical-align: middle;
            max-height: 100%;
        }

    .fileupload .btn {
        vertical-align: middle;
    }

.fileupload-exists .fileupload-new, .fileupload-new .fileupload-exists {
    display: none;
}

.fileupload-inline .fileupload-controls {
    display: inline;
}

.fileupload-new .input-append .btn-file {
    -webkit-border-radius: 0 3px 3px 0;
    -moz-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0;
}

.thumbnail-borderless .thumbnail {
    border: none;
    padding: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.fileupload-new.thumbnail-borderless .thumbnail {
    border: 1px solid #ddd;
}

.control-group.warning .fileupload .uneditable-input {
    color: #a47e3c;
    border-color: #a47e3c;
}

.control-group.warning .fileupload .fileupload-preview {
    color: #a47e3c;
}

.control-group.warning .fileupload .thumbnail {
    border-color: #a47e3c;
}

.control-group.error .fileupload .uneditable-input {
    color: #b94a48;
    border-color: #b94a48;
}

.control-group.error .fileupload .fileupload-preview {
    color: #b94a48;
}

.control-group.error .fileupload .thumbnail {
    border-color: #b94a48;
}

.control-group.success .fileupload .uneditable-input {
    color: #468847;
    border-color: #468847;
}

.control-group.success .fileupload .fileupload-preview {
    color: #468847;
}

.control-group.success .fileupload .thumbnail {
    border-color: #468847;
}

.checkbox {
    padding-left: 20px;
}

    .checkbox label {
        display: inline-block;
        position: relative;
        padding-left: 5px;
    }

        .checkbox label::before {
            content: "";
            display: inline-block;
            position: absolute;
            width: 17px;
            height: 17px;
            left: 0;
            margin-left: -20px;
            border: 1px solid #cccccc;
            border-radius: 3px;
            background-color: #fff;
            -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
            -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
            transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
        }

        .checkbox label::after {
            display: inline-block;
            position: absolute;
            width: 16px;
            height: 16px;
            left: 0;
            top: 0;
            margin-left: -20px;
            padding-left: 3px;
            padding-top: 1px;
            font-size: 11px;
            color: #555555;
        }

    .checkbox input[type="checkbox"] {
        opacity: 0;
    }

        .checkbox input[type="checkbox"]:focus + label::before {
            outline: thin dotted;
            outline: 5px auto -webkit-focus-ring-color;
            outline-offset: -2px;
        }

        .checkbox input[type="checkbox"]:checked + label::after {
            content: "\2714";
        }

        .checkbox input[type="checkbox"]:disabled + label {
            opacity: 0.65;
        }

            .checkbox input[type="checkbox"]:disabled + label::before {
                background-color: #eeeeee;
                cursor: not-allowed;
            }

    .checkbox.checkbox-circle label::before {
        border-radius: 50%;
    }

    .checkbox.checkbox-inline {
        margin-top: 0;
    }

.checkbox-primary input[type="checkbox"]:checked + label::before {
    background-color: #428bca;
    border-color: #428bca;
}

.checkbox-primary input[type="checkbox"]:checked + label::after {
    color: #fff;
}

.checkbox-danger input[type="checkbox"]:checked + label::before {
    background-color: #d9534f;
    border-color: #d9534f;
}

.checkbox-danger input[type="checkbox"]:checked + label::after {
    color: #fff;
}

.checkbox-info input[type="checkbox"]:checked + label::before {
    background-color: #5bc0de;
    border-color: #5bc0de;
}

.checkbox-info input[type="checkbox"]:checked + label::after {
    color: #fff;
}

.checkbox-warning input[type="checkbox"]:checked + label::before {
    background-color: #f0ad4e;
    border-color: #f0ad4e;
}

.checkbox-warning input[type="checkbox"]:checked + label::after {
    color: #fff;
}

.checkbox-success input[type="checkbox"]:checked + label::before {
    background-color: #5cb85c;
    border-color: #5cb85c;
}

.checkbox-success input[type="checkbox"]:checked + label::after {
    color: #fff;
}

.cat-box {
    flex: 1;
    display: inline-block;
    width: 30%;
    margin: 10px;
}

.cat-ul {
    list-style-type: none;
    margin-left: -10px;
}

    .cat-ul > li:before {
        font-family: 'FontAwesome';
        content: '\f054';
        font-size: 0.6em;
        margin: 0 5px 5px -15px;
    }

    .cat-ul > li > span {
        font-size: 1em;
    }

.cat-box-heading {
    font-size: 1.2em;
}

#example {
    position: relative;
}

.drop-checkbox {
    display: none;
}

    .drop-checkbox:checked + .drop-text:after {
        content: 'Hide options';
        position: absolute;
        color: #666;
        top: 0;
        left: 10px;
        right: 0;
        bottom: 0;
        background: white;
        white-space: nowrap;
        font-weight: 300;
    }

	.drop-checkbox-request {
		display: none;
	}
    .drop-checkbox-request:checked + .drop-text-request:after {
        content: 'Hide details';
        position: absolute;
        color: #666;
        top: 0;
        left: 10px;
        right: 0;
        bottom: 0;
        background: white;
        white-space: nowrap;
        font-weight: 300;
    }

	.drop-text-request {
	padding-left: 10px;
    color: #666;
    font-weight: 300;
    cursor: pointer;
	}

.drop-text {
    padding-left: 10px;
    color: #666;
    font-weight: 300;
    cursor: pointer;
}

.drop-well {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    background-color: #fafafa;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 0;
}

.full-width {
    width: 100%;
}

.half-width {
    width: 50%;
}

.tq-width {
    width: 75%;
}

.make-space-top {
    margin-top: 10px;
}

.make-space-left {
    margin-left: 10px;
}

.make-space-right {
    margin-right: 10px;
}

.make-space-bottom {
    margin-bottom: 10px;
}

.small-message {
    color: #666;
    font-size: 0.6em;
}

.center-content {
    margin-right: auto;
    margin-left: auto;
}



/* SR navigation adapted from Chris Coyier @ https://css-tricks.com/triangle-breadcrumbs/ */

.sr-navigation {
    list-style: none;
    overflow: hidden;
    font-size: 1.0em;
             display: inline-block;
}

    .sr-navigation li {
        float: left;
        background-color: #999;
        display: inline-block;
    }

        .sr-navigation li button {
            color: white;
            text-decoration: none;
            position: relative;
            display: inline-block;
			background-color: #999;
            float: left;
            padding: 5px 0 5px 35px;
            border: 0;

        }

            .sr-navigation li :after {
                content: " ";         
			    border-top: 50px solid transparent; /* Go big on the size, and let overflow hide */
                border-bottom: 50px solid transparent;
                border-left: 30px solid  #999;
                position: absolute;
                top: 50%;
                margin-top: -50px;
                left: 100%;
                z-index: 2;
            }

            .sr-navigation li :before {
                content: " ";
                display: block;
                width: 0;
                height: 0;
                border-top: 50px solid transparent;
                border-bottom: 50px solid transparent;
                border-left: 30px solid white;
                position: absolute;
                top: 50%;
                margin-top: -50px;
                margin-left: 1px;
                left: 100%;

                z-index: 1;
            }

.sr-navigation li:first-child button {
    padding-left: 10px;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;

}
.sr-navigation li:first-child {
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
}

.sr-navigation li:last-child button {
    background: transparent !important;
    color: black;
    pointer-events: none;
    cursor: default;
}

.sr-navigation li:last-child {
    background-color: #fff;
}

    .sr-navigation li:last-child button::after {
        border: 0;
    }

.sr-navigation li button:hover {
    background: #17a7f8;
}

.sr-navigation li:first-child button:hover {
    background: #17a7f8 !important;
}

.sr-navigation li button:hover:after {
        border-left-color: #17a7f8 !important;
}

.sr-navigation-active button{
    background: #428bca!important;
} 
.sr-navigation-active button:hover {
    background: #17a7f8 !important;    
}

.sr-navigation-active button:after {
    border-left: 30px solid #428bca;
}
/* end SR navigation */

/* spinner css by http://bootsnipp.com/snippets/featured/input-spinner-with-min-and-max-values */
.spinner input {
  text-align: right;
}

.input-group-btn-vertical {
  position: relative;
  white-space: nowrap;
  width: 2%;
  vertical-align: middle;
  display: table-cell;
}

.input-group-btn-vertical > .btn {
  display: block;
  float: none;
  width: 100%;
  max-width: 100%;
  padding: 8px;
  margin-left: -1px;
  position: relative;
  border-radius: 0;
}

.input-group-btn-vertical > .btn:first-child {
  border-top-right-radius: 4px;
}

.input-group-btn-vertical > .btn:last-child {
  margin-top: -2px;
  border-bottom-right-radius: 4px;
}

.input-group-btn-vertical i {
  position: absolute;
  top: 0;
  left: 4px;
}

/* end spinner */

.numberSelect {
    max-width: 50px;
    height: 34px;
}

.select-button {
    position: absolute;
    z-index: 2; 
    top: 0;
    left: 0;
    filter: alpha(opacity=0);
    opacity: 0;
    background-color: transparent;
    color: transparent;
}

.hide-me {
	display: none;
}

.standard-padding {
	padding: 10px;
}

.login-panel {
	max-width: 600px;
	box-shadow: 10px 10px 5px #666;
}

.shadow {
	box-shadow: 10px 10px 5px #666;
}