body {
    font: normal 1.5em Verdana, Arial, sans-serif;
    margin-top: 44px;
    background-color: #333333;
}

.content-body {
    max-width: 960px;
    margin-right: auto;
    margin-left: auto;
    float: none;
}

.conent-sidebar {
    min-width: 160px;
    max-width: 210px;
    margin-right: 10px;
}

.content-main {
    min-height: 400px;
}
