@using Common.Dto
@using Prometheus.WebUI.Models.Shared
@model Prometheus.WebUI.Models.ServicePortfolio.ServiceBundleModel
@{
    ViewBag.Title = "Add Service Bundle";

    Layout = "~/Views/Shared/_SidebarLayout.cshtml";

    ViewBag.Links = new List<KeyValuePair<string, string>> { new KeyValuePair<string, string>("Home", "Home"),
                                                             new KeyValuePair<string, string>("Service Portfolio", "ServicePortfolio/Index"),
                                                             new KeyValuePair<string, string>(ViewBag.Title, "#") };
}

@section Sidebar {
    @Html.Action("ShowServiceBundleList")
}

@section Content {
    <div class="title-div">
        @ViewBag.SubTitle
    </div>

    @using (Html.BeginForm("Save", "ServicePortfolio", FormMethod.Post))
    {
        <div class="panel">
            @Html.Partial("/Views/ServicePortfolio/PartialViews/ServiceBundleEditor.cshtml", new ServiceBundleDto())
        </div>

        <div class="flex-container">
            <div class="panel-footer">
                <div class="float-right-div">
                    <input type="submit" value="Save" class="btn btn-primary"/>
                    @Html.ActionLink("Back", "Show", null, new {@class = "btn btn-default"})
                </div>
            </div>
        </div>
    }
}