
@model Prometheus.Domain.Abstract.IServiceBundle
@{
    if (Model.Id == 0)
    {
        ViewBag.Title = "Add new service bundle";
    }
    else
    {
        ViewBag.Title = "Edit " + Model.Name;
    }
    Layout = "~/Views/Shared/_SidebarLayout.cshtml";
    ViewBag.Links = new List<KeyValuePair<string, string>> { new KeyValuePair<string, string>("Home", "Home"),
                                                             new KeyValuePair<string, string>("View Service Bundles", "ServicePortfolio/Retrieve/" + Model.Id),
                                                             new KeyValuePair<string, string>(ViewBag.Title, "#") };

}

@section Content {
<div style="display: inline-block;">
        @using (Html.BeginForm())
        {
            <table class="std-table">
                <tr>
                    <td class="std-cell">
                        <div>
                            @foreach (var property in ViewData.ModelMetadata.Properties)
                            {
                                if (property.PropertyName != "Id" && property.PropertyName != "id" && property.PropertyName != "Services")
                                {
                                    <div class="form-group">
                                        <label class="font-title-initial">@(property.DisplayName ?? property.PropertyName)</label>
                                        @Html.ValidationMessage(property.PropertyName)
                                        @Html.TextBox(property.PropertyName, null, new { @class = "form-control" })

                                    </div>
                            }
                            }

                        </div>
                        </td><td class="std-cell">
                        <div>
                            <label class="font-title-initial">Services</label>
                            <br/>Domain Services
                            <br />Web Services
                            <br />Analytics Services
                            <br />Prosthetics Services
                            <br />Gambling Addiction Services
                            <br />Political Espionage Services

                        </div>
                    </td>
                </tr>

                <tr>
                    <td colspan="2" class="std-cell">

                        <div class="panel-footer">
                            &nbsp;
                            <div class="float-right-div">
                                <input type="submit" value="Save" class="btn btn-primary" />
                                @Html.ActionLink("Cancel", "Retrieve", null, new { @class = "btn btn-default" })
                            </div>
                        </div>

                    </td>
                </tr></table>
        }
</div>


}

@section Sidebar {
    hi
    
    }
