@using DataService.Models
@model IEnumerable<IServiceBundle>

@{
    ViewBag.Title = "Service Portfolio";
    ViewBag.Links = new List<KeyValuePair<string, string>> { new KeyValuePair<string, string>("Home", "Home"), new KeyValuePair<string, string>(ViewBag.Title, "#") };
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="std-indent">
    <label class="font-title2-blue">Workplace Services</label>
    <dl class="dl-horizontal" style="margin-top: 0; border-top: 1px solid #cccccc; border-bottom: 1px solid #cccccc;">
        <dt>Description:</dt>
        <dd>A long description</dd>
        <dt>Business Value:</dt>
        <dd>Bus value statements</dd>
        <dt>Services</dt>
        <dd>long, csv</dd>
        <dt>Measures</dt>
        <dd>some measures for you</dd>
    </dl>


    <p>Option 2</p>
    @if (Model != null && Model.Any())
    {
        foreach (var serviceBundle in Model)
        {
            <table class="std-table" style="width: 500px;">
                <tr>
                    <td colspan="2" style="border-bottom: 1px solid black;">
                        <label class="font-title2-blue">@serviceBundle.Name</label>
                    </td>
                </tr>
                <tr>
                    <td style="vertical-align: top; width: 60%;">
                        @if (serviceBundle.Description != null)
                        {
                            @Html.Raw(serviceBundle.Description);
                        }
                    </td>
                    <td style="vertical-align: top; width: 40%; border-bottom: 1px solid black;" rowspan="3">
                        <label class="font-title-initial">Services:</label><br />

                    </td>
                </tr>
                <tr>
                    <td style="vertical-align: top;">
                        <label class="font-title-initial">Business Value:</label> <br />
                        @if (serviceBundle.BusinessValue != null)
                        {
                            @Html.Raw(serviceBundle.BusinessValue);
                        }
                    </td>
                </tr>
                <tr>
                    <td style="vertical-align: top; border-bottom: 1px solid black;">
                        <label class="font-title-initial">Measures:</label><br />
                        @if (serviceBundle.Measures != null)
                        {
                            Html.Raw(serviceBundle.Measures);
                        }
                    </td>
                </tr>
            </table>
            <br />
            <br />
        }

    }
</div>