@model Prometheus.WebUI.Models.ServiceBundleModel
@using Prometheus.WebUI.HtmlHelpers;
@using Prometheus.Domain.Abstract;
@{
    ViewBag.Title = "View Service Bundles";
    Layout = "~/Views/Shared/_SidebarLayout.cshtml";
}

@section Breadcrumb {
    @Html.BreadrumbTrail(new List<KeyValuePair<string, string>> { new KeyValuePair<string, string>("Home", "Home") }, 0, "breadcrumb", "active")
}

@section Sidebar {
    <div class="div-title">
        <label class="font-title-initial">Service Bundles</label>
        @Html.ActionLink("Add", "Edit", new { id = 0 }, new { @class = "btn btn-default" })
    </div>
    <div>

        @{ if (Model.ServiceBundles.Any())
            {
                Html.Display("No service bundles found");

                foreach (KeyValuePair<int, String> serviceBundle in Model.ServiceBundles)
                {
                    @Html.RouteLink(serviceBundle.Value, new
           {
               Controller = "ServicePortfolio",
               Action = "Edit",
               Id = serviceBundle.Key
           }, new
           {
               @class = "btn",

               @style = "background-color:" +
                            (serviceBundle.Key != Model.CurrentServiceBundle.id ? "#ffffff;" : "#eeeeee;")
                            + "; border:1px solid black;width:100%; color:3e3e3e;"
           })}
            }
            else
            {
                <text>No service bundles found</text>
}
        }
    </div>
}


@section Content {
    @{if (Model.CurrentServiceBundle.id > 0)
        {
           <label class="font-title-initial">Name:</label><br /> 
        Html.Display(Model.CurrentServiceBundle.Name);
            <label class="font-title-initial">Description:</label><br />

            <label class="font-title-initial">Business Value:</label><br />

            <label class="font-title-initial">Measures:</label><br />

            <label class="font-title-initial">Services:</label><br />
        }


    }
}