@model Common.Dto.LifecycleStatusDto
@{
    ViewBag.Title = "Delete " + Model.Name;
    ViewBag.Links = new List<KeyValuePair<string, string>> { new KeyValuePair<string, string>("Home", "Home"),
                                                             new KeyValuePair<string, string>("Services Maintenance", "ServiceMaintenance/Index"),
                                                             new KeyValuePair<string, string>("Lifecycle Statuses", "ServiceMaintenance/ShowLifecycle"),
                                                             new KeyValuePair<string, string>(Model.Name, "ServiceMaintenance/ShowLifecycle/" + Model.Id),
                                                             new KeyValuePair<string, string>(ViewBag.Title, "#")};


    Layout = "~/Views/Shared/_SidebarLayout.cshtml";
}


@section Sidebar { }

@section Content
{
    @using (Html.BeginForm("DeleteLifecycle", "ServiceMaintenance", FormMethod.Post))
    {
        @Html.Partial("PartialViews/ConfirmDelete", Model)

        <div class="flex-container">
            <div class="panel-footer">

                <div class="float-right-div">
                    <input type="submit" value="Confirm Delete" class="btn btn-danger"/>
                </div>

                <div class="float-left-div">
                    @Html.ActionLink("Back", "ShowLifecycle", new {id = Model.Id}, new {@class = "btn btn-default"})
                </div>
            </div>
        </div>
    }
}
