@{
    ViewBag.Title = "Services Maintenance";
    ViewBag.Links = new List<KeyValuePair<string, string>> { new KeyValuePair<string, string>("Home", "Home"),
                                                             new KeyValuePair<string, string>(ViewBag.Title, "#")};
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <div class="title-div">Maintenance Tasks</div>
    <div class="panel-div">
        @Html.ActionLink("Manage Lifecycle Statuses", "ShowLifecycle", "ServiceMaintenance")
        <br /> @Html.ActionLink("Delete Service", "ShowServices", "ServiceMaintenance")
    </div>
