@model Prometheus.WebUI.Models.ServiceMaintenance.ServiceModel
@{
	ViewBag.Title = "Show Services";
	Layout = "~/Views/Shared/_SidebarLayout.cshtml";

	ViewBag.Links = new List<KeyValuePair<string, string>> { new KeyValuePair<string, string>("Home", "Home"),
															 new KeyValuePair<string, string>("Services Maintenance", "ServiceMaintenance/Index"),
																new KeyValuePair<string, string>(ViewBag.Title, "#")};
}

@section Content
{


	<div class="alert alert-info close msg-div" data-dismiss="alert" aria-label="close"><div class="float-right-div">&times;</div>
		Select a service
	</div>

	@if (Model.Service != null)
	{
		<div class="panel-footer">
			<div class="float-right-div">
				@Html.ActionLink("Back", "ShowServices", null, new { @class = "btn btn-default" })
				@Html.ActionLink("Delete", "ConfirmDeleteService", Model.Service.Id, new { @class = "btn btn-danger" })
			</div>

		</div>
	}

}


@section Sidebar
	{
	@Html.Partial("PartialViews/_LinkList", Model.LinkListModel)

}
