@model Common.Dto.ServiceDto
@{
	ViewBag.Title = "Show Services";
	Layout = "~/Views/Shared/_SidebarLayout.cshtml";

	ViewBag.Links = new List<KeyValuePair<string, string>> { new KeyValuePair<string, string>("Home", "Home"),
															 new KeyValuePair<string, string>("Services Maintenance", "ServiceMaintenance/Index"),
														     new KeyValuePair<string, string>(ViewBag.Title, "#")};
}

@section Content
{

	@if (Model != null && Model.Id > 0)
    {
        <div class="panel std-div">
            <div class="panel panel-heading">


            </div>
            <div class="panel-body">
                    @Html.Partial("PartialViews/ServiceView", Model)
            </div>
            <div class="panel-footer">
                &nbsp;
                <div class="float-right-div">
                    @Html.ActionLink("Back", "ShowServices", null, new {@class = "btn btn-default"})
                    @Html.ActionLink("Delete", "ConfirmDeleteService", Model.Id, new {@class = "btn btn-danger"})
                </div>

            </div>

        </div>
    }

}


@section Sidebar
	{
	@Html.Action("ShowServiceList", Model.Id)

}
