@model Prometheus.WebUI.Models.Shared.ServiceRequest
@{
	ViewBag.Title = "SubmitNewServiceRequest";
	Layout = "~/Views/Shared/_Layout.cshtml";

	ViewBag.Links = new List<KeyValuePair<string, string>>
	{
		new KeyValuePair<string, string>("Home", "Home"),
		new KeyValuePair<string, string>("Service Request", "#")
	};
}

<div class="title-div">Here's your crap.</div>

<div class="dd">
	<div class="dd-row">
		<div class="dd-cell-base">Requestor</div>
		<div class="dd-cell-base">@Model.Requestor</div>
	</div>
	@foreach (var item in Model.UserInputs)
	{
		<div class="dd-row">
			<div class="dd-cell-base">@item.Key</div>
			<div class="dd-cell-base">@item.Value</div>
		</div>
	}

</div>

