
@{
    ViewBag.Title = "Business Catalog";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Links = new List<KeyValuePair<string, string>>
    {
        new KeyValuePair<string, string>("Home", "Home"),
        new KeyValuePair<string, string>(ViewBag.Title, "#")
    };
}

<h2>Future home of the Business Catalog</h2>
Will contain services that are
<ul>
    <li>Lifecycle Status = Operational (or any lifecyle set to show in service catalog)</li>
    <li>Service Type Role = Customer Facing</li>
</ul>
Will be able to find all transactions and options available. Should be available to any user, even guest users. 



