@model Common.Dto.IServiceOptionDto

<div class="flex-row">
	<div style="width: 50%; display: inline-block;">
		<div>
			@if (Model.Picture != null)
			{
				<div class="float-left-div" style="border: 1px solid #ddd; margin-right: 10px;">
					<img src="@Url.Action("GetOptionPicture", "Service", new {id = Model.Id})" width="150" height="150" alt="picture"/>
				</div>
			}
			@Html.Raw(Model.Description)
		</div>
	</div>
	<div style="margin-left: 20px; display: inline-block;">
		<table class="table">
			<thead>
			<tr>
				<th style="padding-right: 10px;">up front</th>
				<th>monthly</th>
			</tr>
			</thead>
			<tbody>
			<tr>
				<td>@Model.PriceUpFront.ToString("C")</td>
				<td>@Model.PriceMonthly.ToString("C")</td>
			</tr>
			</tbody>
		</table>
	</div>

</div>