<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
	</configSections>
	<appSettings>
		<add key="FulfillmentUserUsername" value="sfe" />
		<add key="FulfillmentUserPassword" value="Summer17#" />
		<add key="ApiUrl" value="https://api.prometheusproject.ca" />
		<!--<add key="ApiUrl" value="http://localhost:62476" />-->
		<add key="ScriptPath" value="Scripts"/>
	</appSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
	</startup>
	<entityFramework>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework">
			<parameters>
				<!--Put connection string here-->
				<parameter value="Data Source=localhost\SQLEXPRESS;Initial Catalog=ServiceFulfillmentEngineContext;Integrated Security=True;MultipleActiveResultSets=true" />
				<!--<parameter value="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=ServiceFulfillmentEngineContext;Integrated Security=True;MultipleActiveResultSets=true" />-->
			</parameters>
		</defaultConnectionFactory>
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>
</configuration>