@model Prometheus.WebUI.Models.SystemAccess.Prometheus.WebUI.Models.Service.ConfirmDeleteModel
@{
    ViewBag.Title = "ConfirmDeleteRole";
    Layout = "~/Views/Shared/_SidebarLayout.cshtml";
	ViewBag.Links = null;
}



@section Sidebar{}

@section Content{
<h2>ConfirmDeleteRole</h2>	
}
