@{
    ViewBag.Title = "System Access";
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewBag.Links = new List<KeyValuePair<string, string>>
    {
        new KeyValuePair<string, string>("Home", "Home"),
        new KeyValuePair<string, string>(ViewBag.Title, "SystemAccess/Index")
    };
}

<div class="title-div">
    System Access Tasks
</div>
<div class="panel">
	<div>    @Html.ActionLink("Current Users", "CurrentUsers")</div>

	<div>@Html.ActionLink("Add Users", "AddUsers")</div>

	<div>@Html.ActionLink("Permissions and Roles", "PermissionsAndRoles")</div>


</div>
