@{
    ViewBag.Title = "System Access";
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewBag.Links = new List<KeyValuePair<string, string>>
    {
        new KeyValuePair<string, string>("Home", "Home"),
        new KeyValuePair<string, string>(ViewBag.Title, "#")
    };
}

<div class="title-div">
    System Access Tasks
</div>
<div class="panel-div">
	<div>@Html.ActionLink("Manage Users", "ManageUsers")</div>
	<div>@Html.ActionLink("Permissions and Roles", "PermissionsAndRoles")</div>
	<div>@Html.ActionLink("Departments", "ShowDepartments")</div>
</div>
