<div class="std-div std-indent">
    @using (Html.BeginForm("SearchAdAccount", "SystemAccess", FormMethod.Post))
    {
        <div class="row" style="width: 300px;">

                <div class="input-group">

                    <input type="text" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                        <button class="btn btn-primary" type="button" style="margin-top: 5px;">Search</button>
                    </span>
                </div>
    
            </div>

    }

</div>
