@model Prometheus.WebUI.Models.SystemAccess.CurrentUserModel
@{
	ViewBag.Title = "System Access";
	ViewBag.SubTitle = "Current Users";
	Layout = "~/Views/Shared/_Layout.cshtml";

	ViewBag.Links = new List<KeyValuePair<string, string>>
	{
		new KeyValuePair<string, string>("Home", "Home"),
		new KeyValuePair<string, string>("System Access", "SystemAccess/Index"),
		new KeyValuePair<string, string>(ViewBag.SubTitle, "#")
	};
}

<div class="dd" style="width: 60%;">
	<div class="dd-row">
		<div class="dd-cell-nostyle make-space-right" style="margin-right: 10px; width: 50%">
			<div class="title-div-placeholder">
				<span class="title-font">Users</span>
				<div class="float-right-div">
					<span>@Html.ActionLink("Edit Multiple", "EditMultiple")</span>
				</div>
			</div>
		</div>
		<div class="dd-cell-nostyle" style="width: 50%;">
			<div class="title-div">Roles</div>
		</div>
	</div>
	<div class="dd-row">
		<div class="dd-cell-base">
			<div style="padding-top: 5px; padding-bottom: 5px;">
				@if (Model.Users != null && Model.Users.Any())
				{

					foreach (var user in Model.Users)
					{
						//highlight the slected item
						<div class="@( user.Id == Model.SelectedUser ? "bg-primary" : "bg-default")">
							@Html.ActionLink(user.Name, "CurrentUsers", new { id = user.Id }, null)
						</div>
					}
				}
				else //no results found
				{
					<div class="alert alert-warning">
						No Users exist
					</div>
				}
			</div>
		</div>

	</div>
</div>
