@model Prometheus.WebUI.Models.SystemAccess.RoleModel

@{
	ViewBag.Title = "System Access";
	ViewBag.SubTitle = "Add Role";
	Layout = "~/Views/Shared/_SidebarLayout.cshtml";

	ViewBag.Links = new List<KeyValuePair<string, string>>
	{
		new KeyValuePair<string, string>("Home", "Home"),
		new KeyValuePair<string, string>(ViewBag.Title, "SystemAccess/Index"),
		new KeyValuePair<string, string>(ViewBag.SubTitle, "#")
	};
}


@section Sidebar
{
	@Html.Action("ShowRoles", new { Id = 0 })
}

@section Content
{
	<div>
		<div class="title-div">@ViewBag.SubTitle</div>

		
	@using (Html.BeginForm("SaveRole", "SystemAccess", FormMethod.Post))
	{
		<div class="panel-div">
			@Html.Partial("PartialViews/RolesEditor", Model.Role)


		</div>
		<div class="flex-container-col">
			<div class="panel-footer">
				<div class="float-right-div">
					@Html.ActionLink("Back", "ShowRoles", new { id = Model.Id }, new { @class = "btn btn-default btn-back" })
					<input type="submit" value="Save" class="btn btn-primary" />

				</div>
			</div>

		</div>
	}
				

	</div>

}
