@model Prometheus.WebUI.Models.SystemAccess.AdSearchResultsModel

@{
    ViewBag.Title = "User Access";
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewBag.Links = new List<KeyValuePair<string, string>>
    {
        new KeyValuePair<string, string>("Home", "Home"),
        new KeyValuePair<string, string>("System Access", "SystemAccess/Index"),
        new KeyValuePair<string, string>(ViewBag.Title, "#")
    };


}
<div class="flex-square-container">
    <div class="flex-square-content">
        <div class="flex-row">
            
            <div class="flex-col">
                <div class="title-div">Users</div>
                @using (Html.BeginForm("SearchAdAccount", "SystemAccess", FormMethod.Post))
                {
                    <div class="row" style="width: 300px;">

                        <div class="input-group" style="margin-left: 20px;">

                            <input name="searchString" type="text" class="form-control" placeholder="Search for...">
                            <span class="input-group-btn">
                                <input class="btn btn-primary" type="submit" value="Search">
                            </span>
                        </div>

                    </div>

                }
                <div class="panel-div" style="padding: 10px;">
                    @if (Model != null & Model.SearchResults != null)
                    {
                        int i = 0; //counter to uniquely name the checkbox results

                        <div class="funkyradio">
                            @foreach (var user in Model.SearchResults)
                            {
                                i++;
                                <div class="funkyradio-primary">
                                    <input type="checkbox" name="selectedUsers" value="@user.Item1" id="selectedUsers@(i)"/>
                                    <label for="selectedUsers@(i)">@user.Item2</label>
                                </div>

                            }

                        </div>


                        if (!Model.SearchResults.Any())
                        {
                            //check conditions that a search was actually performed
                            <div class="alert alert-warning">No results</div>
                        }
                    }
                    <div class="flex-container">
                        <div class="panel-footer">

                            <div class="float-right-div">@Html.ActionLink("Clear", "UserAccess", null, new {@class = "btn btn-default"})</div>
                           
                        </div>
                    </div>
                </div>


            </div>
            <div class="flex-col">
                <div class="title-div">Roles</div>
                @Html.Partial("PartialViews/SystemRoles")
            </div>
        </div>
    </div>
</div>