@model Common.Dto.ScriptDto

@{
    ViewBag.Title = "Scripts";
    ViewBag.SubTitle = "Upload Scripts";
    Layout = "~/Views/Shared/_SidebarLayout.cshtml";

    ViewBag.Links = new List<KeyValuePair<string, string>>
    {
        new KeyValuePair<string, string>("Home", "Home"),
        new KeyValuePair<string, string>("Scripts", "Script/Index"),
        new KeyValuePair<string, string>(ViewBag.SubTitle, "#")
    };
}

<h2>Add</h2>

@section Content {
    <div class="title-div">@ViewBag.SubTitle</div> @* title *@

    @using (Html.BeginForm("SaveScript", "Script", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {

        @Html.Partial("PartialViews/UpdateScript", Model)

        <div class="flex-container-col">
            @* control buttons at the bottom *@
            <div class="panel-footer">
                <div class="float-right-div">
                    @Html.ActionLink("Back", "Index", new { }, new { @class = "btn btn-default btn-back" })
                    <input type="submit" value="Save" id="Save" class="btn btn-primary" />
                </div>
            </div>
        </div>
    }
}

@section Sidebar{
    <div class="instructions-div">
        <dl>
            <dt>Scripts</dt>
            <dd>
                <ul>
                    <li>Supporting: PowerShell Scripts</li>
                    <li>Script parameter: GUID type object of the Service Requestor</li>
                    <li>Department script: expected to return string value type</li>
                </ul>
            </dd>
        </dl>
    </div>
}