@model Common.Dto.IScriptDto

@{
    ViewBag.Title = "Scripts";
    ViewBag.SubTitle = "Script Detail";
    Layout = "~/Views/Shared/_SidebarLayout.cshtml";

    ViewBag.Links = new List<KeyValuePair<string, string>>
    {
        new KeyValuePair<string, string>("Home", "Home"),
        new KeyValuePair<string, string>("Scripts", "Script/Index"),
    };

}

@section Content{
    
    @Html.Partial("PartialViews/ShowScript", Model)

}

@section Sidebar{
        @* control buttons at the bottom *@
    <div class="panel-footer">
        <div class="float-right-div">
            @Html.ActionLink("Add", "Add", new {}, new {@class = "btn btn-primary"})
        </div>
    </div>
}
