@model Common.Dto.ScriptDto
@{
	ViewBag.Title = "Scripts";
	Layout = "~/Views/Shared/_SidebarLayout.cshtml";

	ViewBag.Links = new List<KeyValuePair<string, string>>
	{
		new KeyValuePair<string, string>("Home", "Home"),
		new KeyValuePair<string, string>("Services", "Service/Index"),
		new KeyValuePair<string, string>(ViewBag.SubTitle, "#")
	};

}

@section Content {
    <div class="title-div">@ViewBag.Title</div> @* title *@


    }
}

@section Sidebar{
    
}
