@model Prometheus.WebUI.Models.Service.ServiceOptionModel
@{
	Layout = "~/Views/Shared/_SidebarLayout.cshtml";
	ViewBag.Title = "Services";

	ViewBag.SubTitle = $"{Model.Action} Option";

	ViewBag.Links = new List<KeyValuePair<string, string>>
		{
			new KeyValuePair<string, string>("Home", "Home"),
			new KeyValuePair<string, string>("Services", "Service/Index"),
			new KeyValuePair<string, string>(Model.ServiceName, "Service/Show/Options/" + Model.Option.ServiceId),
			new KeyValuePair<string, string>(ViewBag.SubTitle, "#")
		};
}

@section Content{


	<div class="title-div">@ViewBag.SubTitle</div>

	@using (Html.BeginForm("SaveOptionsItem", "Service", FormMethod.Post, new { enctype = "multipart/form-data" }))
	{

		@Html.Partial("PartialViews/ServiceOptionEditor", Model.Option)

		<div class="flex-container">
			<div class="panel-footer">
				<div class="float-right-div">
					@if (Model.Action != null && Model.Action == "Update")
					{
						@Html.ActionLink("Back", "ShowServiceOption", new { id = Model.Option.Id }, new { @class = "btn btn-default btn-back" })
					}
					else
					{
						@Html.ActionLink("Back", "Show", new { id = Model.Option.ServiceId, section = "Options" }, new { @class = "btn btn-default btn-back" })
					}
					<input type="submit" value="Save" id="Save" class="btn btn-primary" />
				</div>
			</div>
		</div>

	}

	<script type="text/javascript" language="javascript">
		$('#Popularity').selectize({
				maxItems: 1
			});
		$('#CategoryId').selectize({
			maxItems: 1
			});
	</script>

}


@section Sidebar
{}