@using DataService.Models
@model Prometheus.WebUI.Models.Service.ServiceSectionModel

@{
    ViewBag.Title = "Update " + Model.Service.Name;
    Layout = "~/Views/Shared/_SidebarLayout.cshtml";

    ViewBag.Links = new List<KeyValuePair<string, string>> { new KeyValuePair<string, string>("Home", "Home"),
                                                             new KeyValuePair<string, string>("View Services", "Service/Index"),
                                                             new KeyValuePair<string, string>(Model.Service.Name, "Service/Show/General/" + Model.Service.Id),
                                                                new KeyValuePair<string, string>(ViewBag.Title, "#")};
}

@section Sidebar
{
    @Html.Action("ShowServiceList", Model.Service.Id)
}

@section Content
{
    @using (Html.BeginForm("Save" + Model.Section, "Service", FormMethod.Post))
    {
        <div class="std-div">
            @switch (Model.Section)
            {
                case "Goals":
                    @Html.Action("UpdateGoalItem", Model.SectionItemId)
                    break;
                case "SWOT":
                    @Html.Action("UpdateSwotItem", Model.SectionItemId)
                    break;
            }



            <div class="panel-footer">
                &nbsp;
                <div class="float-right-div">
                    @Html.ActionLink("Back", "Show", new { id = Model.Service.Id, section = Model.Section }, new { @class = "btn btn-default" })

                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </div>

        </div>
    }
}
